@font-face {
  font-family: 'Nova';
  src: url('src/assets/Nova.otf') format('opentype');
}
.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('src/assets/fancy.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    height: auto;
    padding: 20px;
    font-family: 'Nova';
    font-size: 1.4em;
  }
  
  .projects-inner-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 0 50px;
    max-width: 100vw;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scroll-behavior: smooth;
  }
  
  .projects-inner-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
    width: fit-content;
  }
  
  .project-item {
    min-width: 30vw; /* Adjust this value as needed */
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .project-item:hover {
    transform: scale(1.05);
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.modal-content {
  animation: fadeIn 0.3s ease-in;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw; 
  height: auto; 
  padding: 20px;
  margin: auto;
  border: none;
  font-family: 'Montserrat';
  font-size: 1.3em;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.7) !important; /* Black with 50% opacity */
}
