.item-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 50%; /* Add this line */
    margin: 0 auto; /* Add this line */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%; /* Add this line */
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.submit-button:hover {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
}